<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Migration Orchestrator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="{{ url_for('static', filename='js/lib/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="{{ url_for('static', filename='graphs/graph1.json') }}"></script>
    <script src="{{ url_for('static', filename='graphs/graph2.json') }}"></script>
    <script src="{{ url_for('static', filename='graphs/graph3.json') }}"></script>
</head>
<body>
<!-- background="{{ url_for('static', filename='images/frog-background.jpg') }}"-->
<div class="container">
    <div class="migration-container">
        <div class="row">
            <div class="col-xs-6 text-center">
                <img class="poli-img" src="{{ url_for('static', filename='images/polito.png') }}">
            </div>
            <div class="col-xs-6 text-center">
                <img class="tim-img" src="{{ url_for('static', filename='images/tim.png') }}">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>NAT Live Migration</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn btn-primary" id="btn-deploy_initial_graph">Deploy first NAT</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn btn-primary" id="btn-deploy_second_nat">Deploy second NAT</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn btn-primary" id="btn-migrate_state">Migrate state</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn btn-primary" id="btn-delete_old_nat">Move traffic to second NAT</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="btn btn-primary" id="btn-undeploy_everything">Undeploy everything</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>